* {
	font-family: "Helvetica Nue", Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: block;
}

.clearfix:after{
	clear: both;
}

.clearfix{
	*zoom: 1;
}

.Navigation{
	display: inline-block;
	background: lightgrey;
	width: 100%;
	padding-top: 10px;
	height: auto;
}

.NavBar nav{
	float: right;	
	margin: 0;
}

.NavBar ul{
	list-style-type: none;
	overflow: hidden;
}

.NavBar li{
	/* float first and thenwe will switch to inline */
	float: right; 
	/* use inline */
	display: inline-block;
}

.NavBar nav ul{
	display: inline-block;
	margin: 0;
}

.NavBar ul li{
	display: inline-block;
	padding: 20px;
}

.NavBar ul li a{
	text-decoration: none;
	color: black;
}

.NavBar img{
	display: inline-block;
	width: 150px;
	float: left;
}

.container1{
	display: inline-block;
	width: 75%;
	float: left;
	line-height: 2.0;
	text-align: center;s
}





